{% extends './baseLogin.html' %}

{% block titulo %}
Registro usuarios
{% endblock %}

{% block contenido %}

<section>

  <form action="{{url_for('registrar')}}" method="post">
    <div class="mb-3">
      <label for="correo_usuario" class="form-label">Correo electrónico</label>
      <input autofocus required type="email" class="form-control" id="correo_usuario" name="correo_usuario"
        placeholder="Correo Usuario">

      <label for="contrasena_usuario" class="form-label">Contraseña</label>
      <input required type="password" class="form-control" id="contrasena_usuario" name="contrasena_usuario"
        placeholder="contrasena_usuario">

      <label for="nombre_usuario" class="form-label">Nombre Usuario</label>
      <input required type="text" class="form-control" id="nombre_usuario" name="nombre_usuario"
        placeholder="nombre_usuario">
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Registrar</button>
    </div>
  </form>
  {% with mensajes_flash = get_flashed_messages() %}

  {% if mensajes_flash %}
  {% for mensaje in mensajes_flash %}
  <li>{{mensaje}}</li>
  {% endfor %}
  {% endif %}
  {% endwith %}
</section>

{% endblock %}